.post-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
}

.card {
    background-color: #fcfbfb;
    border: 0;
    border-radius: 20px;
    padding: 30px;
    width: 300px;
    max-height: 300px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    margin: 0 0 12px;
    font-size: 1.125rem;
    color: #333;
}

.card p {
    font-size: 0.75em;
    color: #555;
    margin: 0 0 16px;
    line-height: 1.4;
}

.card .btn {
    display: inline-block;
    background-color: #555;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    font-size: 0.75em;
    transition: background-color 0.2s ease-in-out;
}

.card .btn:hover {
    background-color: #0056b3;
}
