* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 2.5rem;
    line-height: 1.2em;
}

nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 3rem auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 5px 0;
    font-size: 14px;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}
