{% extends "base.html" %}

{% block title %}Criar Postagem{% endblock %}

{% block content %}
    <div class="container">
        <h1>Criar postagem</h1>
        <form method="POST">
            <label for="titulo">Título</label>
            <input type="text" name="titulo" id="titulo" placeholder="Título da postagem" required>

            <label for="conteudo">Conteúdo</label>
            <textarea name="conteudo" id="conteudo" placeholder="Conteúdo da postagem" required></textarea>

            <button type="submit">Criar postagem</button>
        </form>
    </div>
{% endblock %}
