{% extends "base.html" %}

{% block title %}{{ postagem['titulo'] }}{% endblock %}

{% block content %}
<div class="post-container">
    <div class="post-detalhe">
        <h1>{{ postagem['titulo'] }}</h1>
        <p>{{ postagem['conteudo'] }}</p>

        {% if postagem['usuario_id'] == session.get('usuario_id') or session.get('eh_administrador') %}
            <a href="{{ url_for('blog.editar_postagem', postagem_id=postagem['id']) }}" class="btn editar">
                Editar
            </a>
            <a href="{{ url_for('blog.excluir_postagem', postagem_id=postagem['id']) }}" class="btn excluir">
                Excluir
            </a>
        {% endif %}
    </div>

    <div class="comentarios">
        <h2>Comentários</h2>
        {% if comentarios %}
            <ul>
                {% for comentario in comentarios %}
                    <li class="comentario">
                        <span>{{ comentario['conteudo'] }}</span>
                        {% if comentario['usuario_id'] == session.get('usuario_id') or session.get('eh_administrador') %}
                            <a href="{{ url_for('blog.editar_comentario', comentario_id=comentario['id']) }}" class="btn editar">
                                Editar
                            </a>
                            <a href="{{ url_for('blog.excluir_comentario', comentario_id=comentario['id']) }}" class="btn excluir">
                                Excluir
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Sem comentários ainda.</p>
        {% endif %}

        <form class="add_post" method="POST" action="{{ url_for('blog.comentar_postagem', postagem_id=postagem['id']) }}">
            <h4>Adicione um comentário</h4>
            <textarea name="conteudo" placeholder="Adicione um comentário" required></textarea>
            <button type="submit" class="btn">Comentar</button>
        </form>
    </div>
</div>
{% endblock %}
