{% extends "base.html" %}

{% block title %}Editar Postagem{% endblock %}

{% block content %}
<div class="container">
    <h1>Editar Postagem</h1>
    <form class="add_post" method="POST">
        <label for="titulo">Título</label>
        <input type="text" id="titulo" name="titulo" value="{{ postagem['titulo'] }}" required>

        <label for="conteudo">Conteúdo</label>
        <textarea id="conteudo" name="conteudo" required>{{ postagem['conteudo'] }}</textarea>

        <button type="submit" class="btn">Salvar Alterações</button>
    </form>
</div>
{% endblock %}
