{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <div class="post-cards">
        {% for postagem in postagens %}
            <div class="card">
                <h3>{{ postagem['titulo'] }}</h3>
                <p>{{ postagem['resumo'] }}</p>
                <a class="btn" href="{{ url_for('blog.detalhe_postagem', postagem_id=postagem['id']) }}">
                    Leia mais
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
